html {
    background-color: white;
    font-family:verdana;
    font-size: 50%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    pointer-events: fill;
    
}
p {
    font-size: 50% large;
}

#Bicenter {
    margin:auto;
    width: 50%;
    text-align: center;
    
}

h1 {
    font-size: 54%;
    
}

h2 {
    font-size: 50%;
}
hr {
    border-width: 100%;
    border-color: black;
    margin-bottom: 25px;
}
div .Date {
    text-align: right;
}
.submitbtn{
    background-color: #808080;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;

}
.submitbtn:hover {
    opacity: 1;
}
a {
    color: dodgerblue;
}

.signin{
    background-color:  #f1f1f1;
    text-align: center;
}
.container {
    padding: 16px;
    background-color: #ffff;
}

